//
// From: https://openlab.ncl.ac.uk/gitlab/geco/requests-gui/blob/master/src/scss/common.scss
//

// Customise bulma by setting their variables first
// -> see https://bulma.io/documentation/customize/variables/
$primary: #089fc4;
$info: #cc3266;
$link: #60b98f;

$popup: #e56399;

$widescreen-enabled: false;
$fullhd-enabled: false;

$body-family: 'IBM Plex Sans', 'system-ui', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$family-monospace: 'SF Mono', Consolas, 'Liberation Mono', Menlo, Courier,
  monospace;

$title-family: 'Rubik', $body-family;
$subtitle-family: $title-family;
$title-weight: 500;

$button-family: $title-family;
$button-weight: 700;

$radius: 6px;
$radius-large: 12px;

$navbar-breakpoint: 0;

@import 'bulma/bulma.sass';

//
// From: https://openlab.ncl.ac.uk/gitlab/geco/requests-gui/blob/master/src/components/PrimaryNavigation.vue
//
.navbar .navbar-brand .navbar-item {
  font-family: $title-family;
  font-size: 1.5em;
  color: #3a2145;
  .geco {
    font-weight: 700;
  }
  .toolbox {
    font-weight: 400;
  }
}

.fill-viewport-vertically {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > * {
    flex: 1;
  }

  > *:first-child {
    flex: 0;
  }

  > *:last-child {
    flex: 0;
  }
}

//
// From: https://openlab.ncl.ac.uk/gitlab/geco/requests-gui/blob/master/src/components/SiteFooter.vue
//

.footer {
  p {
    margin-bottom: 0.5em;
  }

  .links {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    overflow-x: auto;
  }

  .links > *:not(:last-child) {
    padding-right: 0.75em;
    margin-right: 0.75em;
    border-right: 1px solid $grey;
  }

  a {
    color: $grey-darker;
    font-weight: 600;
    text-decoration: underline $border;
  }

  .version {
    user-select: all;
    color: $grey;
  }
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-family;
    font-weight: $title-weight;
  }
}

.cover-image {
  $height: ($desktop - (2 * $gap)) / 1.2;

  max-width: $height;
  min-height: $height * 0.5625;
  margin: 0 auto 2em;

  img {
    vertical-align: middle;
  }

  @include touch {
    min-height: 0;
  }
}

.no-bottom-padding {
  padding-bottom: 0;
}

.buttons.is-padded {
  padding: 2.5rem 0;
}

p + .buttons.is-padded {
  padding-top: 1.5rem;
}

@include touch {
  .navbar .container {
    padding: 0 0.5rem;
  }
}

.geco-card {
  border: 3px solid #5fb98f;
  border: 3px solid #089fc4;
  border-radius: 3px;
}

hr {
  border: none;
  border-bottom: 3px solid #784ab4;
  margin: 3rem 0;
}

.service-image {
  width: 100%;
  padding-bottom: percentage($number: 9 / 16);
  height: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 0;
}
