<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ '/' | localeUrl }}">
          <span class="geco">gE.CO</span>
          &nbsp;
          <span class="toolbox">toolbox</span>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            {{ locales[locale].name }}
          </a>

          <div class="navbar-dropdown is-right">
            {% for code in site.languages %}
            <a class="navbar-item" href="{{ page.url | swapLocaleSlug(code) }}">
              {{ locales[code].name }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
