<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | url }}">
        <span class="geco">gE.CO</span>
        &nbsp;
        <span class="toolbox">toolbox</span>
      </a>
    </div>
  </div>
</nav>
