---
layout: base
action: Register your interest
---

{% include 'navbar.njk' %}

<main>
  <section class="section">
    <div class="container">
      <div class="content">
        {{ content | safe }}
        <h3>The gE.CO project is now over</h3>
      </div>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
