---
layout: base
action: Find out more
---

{% include 'navbar.njk' %}

<main>
  <div class="hero">
    <div class="hero-body no-bottom-padding">
      <div class="container has-text-centered">
        <h1 class="title is-1">{{ title }}</h1>
        <h2 class="subtitle is-4">{{ subtitle }}</h2>
      </div>
    </div>
  </div>

  <section class="section is-size-5">
    <div class="container">
      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
