---
layout: base
action: Go to the services
---

{% include 'navbar.njk' %}

<main>
  <div class="hero">
    <div class="hero-body no-bottom-padding">
      <div class="container has-text-centered">
        <h1 class="title is-1">{{ title }}</h1>
        <h2 class="subtitle is-4">{{ subtitle }}</h2>
      </div>
    </div>
  </div>

  <section class="section is-size-5">
    <div class="container">
      <div class="content">
        {{ content | safe }}
      </div>
      <div class="buttons is-centered is-padded">
        {% for button in actions %}
        <a
          class="button is-large {{ button.class }}"
          href="{{ button.url | localeUrl }}"
        >
          {{ button.text }}
        </a>
        {% endfor %}
      </div>
      <hr />
      <h3 class="title is-5">The gE.CO platform</h3>
      <div class="buttons">
        <a
          href="http://generative-commons.eu"
          class="button is-geco is-primary"
          target="_blank"
          rel="noopener"
        >
          Visit the gE.CO website
        </a>
        <a
          href="https://geco.firstlife.org"
          class="button is-geco is-link"
          target="_blank"
          rel="noopener"
        >
          Visit the gE.CO map
        </a>
      </div>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
